# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
VENV/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Generated plots
prediction_plots/

# OS specific
.DS_Store
Thumbs.db
